<h2>İzin Özeti</h2>
<p>{{profile.user.username}}</p>
<p>Kalan İzinler: <strong>{{ profile.remaining_leaves }}</strong> gün</p>

<h3>Kullanılan İzinler:</h3>
<table border="2">
    <tr>
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Toplam Gün</th>
        <th>Neden</th>
    </tr>
    {% for leave in leaves %}
    <tr>
        <td>{{ leave.start_date }}</td>
        <td>{{ leave.end_date }}</td>
        <td>{{ leave.leave_days }}</td>
        <td>{{ leave.reason }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">Hiç izin kaydı bulunamadı.</td>
    </tr>
    {% endfor %}
</table>
