{% extends 'base.html' %}

{% block title %}Kullanıcı Listesi{% endblock %}

{% block content %}
<h2>Kullanıcı Listesi</h2>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kullanıcı Adı</th>
            <th>E-posta</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td><a href="{% url 'employee_detail' user.id %}">Detayları Gör</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Hiç kullanıcı bulunamadı.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
